.python-environments/
.tern-port
.lsp-session-v*
ac-comphist.dat
company-statistics-cache.el
archive-contents
kkcrc
network-security.data
recentf
srecode-map.el
tramp
projectile-bookmarks.eld
elpa/archives/gnu/archive-contents.signed
transient/
/%backup%~
/.org-id-locations
/elpa/gnupg/.gpg-v21-migrated
